$primary: #ffe01b;
$secondary: #007c89;
$white: #FFFFFF;

.navigace {
  width: 100%;
  background-color: $primary;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav {
  height: 50px;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.shopping {
  width: 25%;
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  list-style: none;
}

nav div li {
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.navigace li {
  width: 100px;
  height: 25px;
  background-color: $secondary;
  border: 2px black solid;
}

body {
  margin: 0;
}

li {
  text-align: center;
  color: $white;
  font-family: "Arial Black", serif;
}

.mother {
  width: 100%;
  height: calc(100vh - 52px);
  display: flex;
  flex-direction: row;
  border-top: 2px black solid;
  color: $white;
  font-family: "Arial Black", serif;
}

.first {
  width: 40%;
  background-color: $primary;

}

.second {
  width: 20%;
  background-color: $white;
}

.third {
  width: 40%;
  background-color: $primary;
  display: flex;
  flex-direction: column;
}

.description {
  border: 2px solid black;
  width: 50%;
  margin: 25vh 25px;
}

.third table, th, td {
  border: 2px black solid;
  border-collapse: collapse;
  margin: 10vh 25px;
}


.third table, th {
  background-color: $white;
  color: black;
  cursor: auto;
}

.third table, td {
  background-color: $secondary;
  color: white;
  text-align: center;
  cursor: pointer;
}

.third table {
  width: 75%;
}

.first h1 {
  margin: 0 10px;
}

.first h2 {
  margin: 10px 10px;
  font-size: 20px;
}
